@media only screen and (min-width: 768px) {
    /* tablets and desktop, will have 2 columns */

			#Title{
				color: black;
				font-family: Arial, Helvetica, sans-serif;
				height: auto;

			}

			.bodyText{
				color: black;
				font-family: Arial, Helvetica, sans-serif;
			}

			.simplePadding{
				padding-left: 5%;
				padding-right: 5%;
			}

			.italic{
				font-style:italic;
				padding-bottom: 3%;
				font-family: Arial, Helvetica, sans-serif;
			}

			.responsive{
				width: 100%;
			  	height: auto;
			  	padding-bottom: 7%;

			}

			.responsiveLast{
				width: 100%;
			  	height: auto;
			  	padding-bottom: 3%;

			}

			.footerLast{
				padding-bottom: 3%;
				text-align: right;

			}

			.Soft{

				color: black;
			}

			html, body, .col1, .col2 {
				height: 100%;
			}

			body {
				margin: 0;
			}

			.col1 {
				width: 25%;
				background-color: ffffff;
				position: fixed;
				left:0;
				top:0;
			}

			.col2 {
				width: 75%;
				background-color: ffffff;
				margin-left: 25%;
				overflow: auto;
			}

}


@media only screen and (max-width: 767px) {
    /* phones */


    		#Title{
				color: black;
				font-family: Arial, Helvetica, sans-serif;
				height: auto;

			}

			.bodyText{
				color: black;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 0.66em; /* 14px/16=0.875em */
			}

			.italic{
				font-style:italic;
				padding-bottom: 3%;
				font-family: Arial, Helvetica, sans-serif;
			}

			.responsive{
				width: 100%;
			  	height: auto;
			  	padding-bottom: 7%;

			}

			.responsiveLast{
				width: 100%;
			  	height: auto;
			  	padding-bottom: 2%;

			}

			.footerLast{
				padding-bottom: 1%;
			}

			.Soft{

				color: darkgray;
			}


}
