#Title{
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	height: auto;

}

.bodyText{
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

#italic{
	font-style:italic;
}

.responsive{
	width: 100%;
  	height: auto;
  	padding-bottom: 7%;

}

.responsiveLast{
	width: 100%;
  	height: auto;
  	padding-bottom: 3%;

}

.footerLast{
	padding-bottom: 3%;
}

.Soft{

	color: darkgray;
}
